.section {
    scroll-snap-align: start;
}

.container {
    @apply flex justify-center items-center py-16 px-4;
}

.content{
    @apply flex flex-col items-center gap-6;
    @apply text-center uppercase;
}

.content h1 {
    @apply font-alien_encounters text-[50px] md:text-[80px] font-bold;
}

.subtitle {
    @apply relative font-alien_encounters_solid text-[25px] md:text-[30px] font-bold;
}

.hero_ellipse{
    @apply hidden md:block absolute ;
    right: 550px;
    bottom: -100px;
    border-radius: 200px;
    filter: blur(200px);
    z-index: -1;
}