.container{
    @apply relative py-32;
}

.content{
    @apply flex justify-center items-center gap-32;
}

.content__right{
    @apply relative flex flex-col gap-8 w-[30rem];
}

.content__right h2 {
    @apply font-alien_encounters_solid text-[40px];
}

.content__right p {
    @apply ml-20;
    @apply font-poppins text-[16px] text-[#CCCCCC];
}

.governance__end_left {
    @apply hidden lg:block absolute bottom-[3rem] left-0;
}

.governance__end_right{
    @apply hidden lg:block absolute bottom-[6rem] right-0;

}

.about_ellipse{
    @apply hidden lg:block absolute;
    bottom: 200px;
    left: 100px;
    border-radius: 200px;
    filter: blur(200px);
    z-index: -1;
}